// HERO UNIT
// ---------

.hero-unit {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: darken(@heroUnitBackground, 10%);
  .border-radius(6px);
  h1 {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1;
    color: @heroUnitHeadingColor;
    letter-spacing: -1px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseLineHeight * 1.5;
    color: @heroUnitLeadColor;
  }
}
